body#main {
    margin: 0px;
    border-left: 0.2rem solid #290029;
    border-right: 0.2rem solid #290029;
    border-bottom: 0.2rem solid #290029;
    background-position: bottom left;
    background-image: url("../Images/background-extended-light.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
body#main-darkmode {
    margin: 0px;
    background-color: #000000;
}

body#gallery-background {
    margin: 0px;
    border-left: 0.2rem solid #290029;
    border-right: 0.2rem solid #290029;
    border-bottom: 0.2rem solid #290029;
    background-position: bottom;
    background-image: url("../Images/background-extended-light.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-color: #92C1DB;
}
body#gallery-darkmode {
    margin: 0px;
    background-color: #000000;
}

.topbar > img {
    max-width: 100%;
    height: auto;
    display: block;
}
.topbar {
    background-color: #000000;
    margin: 0px;
    border-top: 0.2rem solid #290029;
}

.topbar-darkmode{
    background-color: #180c1a;
    margin: 0px;
    border-top: 0.2rem solid #290029;
}
.topbar-darkmode > img {
    max-width: 25%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.navbar{
    background-color: #91aff0;
    margin: 0px;
    border-top: 0.2rem solid #290029;
    border-bottom: 0.2rem solid #290029;
}
a#navbar{
    color: royalblue;
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 49%;
    text-align: center;
}

.navbar-darkmode{
    background-color: #000000;
    margin: 0px;
    border: 0.2rem solid #290029;
}
a#navbar-darkmode{
    color: #00B1F1;
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 49%;
    text-align: center;
}

.toptext{
    background-image: url(../Images/transparent-background.png);
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    border-top: 0.6rem solid #000000;
}
.toptext-darkmode{
    background-image: url(../Images/testbackground-dark.png);
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    border-top: 0.6rem solid #180c1a;
}

img#portrait{
    width: auto;
    max-height: 25rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: gold;
    padding: 0.7rem;
    border: 0.7rem solid #290029;
    border-radius: 0.7rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}
p#paragraph0{
    max-height: 25rem;
    width: auto;
    text-align: center;
    font-size: 300%;
    margin: 0.7rem;
}

img#image1{
    float: left;
    max-width: 25rem;
    height: auto;
    margin: 2rem;
    border: 0.2rem solid #290029;
    border-radius: 1rem;
}
p#paragraph1{
    float: right;
    font-size: 400%;
    max-width: 60rem;
    margin: 1.8rem;
    padding: 0.2rem;
    border: 0.3rem solid #250025;
    border-radius: 1rem;
    background-color: rgba(255,255,255,0.9);
}

img#image2{
    float: right;
    max-width: 30rem;
    height: auto;
    margin: 2rem;
    border: 0.2rem solid #290029;
    border-radius: 1rem;
}
p#paragraph2{
    float: left;
    font-size: 400%;
    max-width: 55rem;
    margin: 1.8rem;
    padding: 0.2rem;
    border: 0.3rem solid #250025;
    border-radius: 1rem;
    background-color: rgba(255,255,255,0.9);
}

p#paragraph2-darkmode{
    float: left;
    font-size: 400%;
    max-width: 55rem;
    margin: 2rem;
    color: white;
}
p#paragraph1-darkmode{
    float: right;
    font-size: 400%;
    max-width: 60rem;
    margin: 2rem;
    color: white;
}

.footer{
    position: relative;
    width: 98.3%;
    margin: 0rem;
    border-right: 0.2rem solid #290029;
    border-top: 0.2rem solid #290029;
    background-color: white;
}
.footer > h5{
    color: black;
}

.footer-darkmode{
    position: relative;
    width: 98.3%;
    margin: 0rem;
    border-right: 0.2rem solid #290029;
    border-top: 0.2rem solid #290029;
    background-color: #000000;
}
.footer-darkmode > h5{
    color: white;
}

.main-content{
    background-image: url("../Images/background-light.png");
}

.main-container{
    background-image: url("../Images/background-extender-light.png");
}

.flex-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5rem;
}
.flex-item{
    max-width: 29%;
    height: auto;
    margin: 0.2rem;
    border: 0.2rem lightskyblue solid;
}

p#paragraph3{
    max-height: 25rem;
    width: auto;
    text-align: center;
    font-size: 300%;
    margin: 16rem;
}

a#wikilink-darkmode{
    color: white;
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 100%;
    text-align: center;
}

a#wikilink{
    color: darkblue;
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 100%;
    text-align: center;
}