@font-face {
    font-family: SFCartoonistHand;
    src: url("../Fonts/SFCartoonistHand.ttf");
}
body.main {
    margin: 0px;
    border-left: 0.2rem solid #290029;
    border-right: 0.2rem solid #290029;
    border-bottom: 0.2rem solid #290029;
    background-position: bottom left;
    background-image: url("../Images/background-extended-light.png"), url("../Images/background-extender-light.png");
    background-color: #93c2dc;
    background-repeat: no-repeat, repeat;
    background-size: 100%;
}
body.main-darkmode {
    margin: 0px;
    border-left: 0.2rem solid #290029;
    border-right: 0.2rem solid #290029;
    border-bottom: 0.2rem solid #290029;
    background-position: bottom left;
    background-image: url("../Images/background-extended.png"), url("../Images/background-extender.png");
    background-repeat: no-repeat, repeat;
    background-size: 100%;
}

body#gallery-background {
    margin: 0px;
    border-left: 0.2rem solid #290029;
    border-right: 0.2rem solid #290029;
    border-bottom: 0.2rem solid #290029;
    background-position: bottom;
    background-image: url("../Images/background-extended-light.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-color: #92C1DB;
}
body#gallery-darkmode {
    margin: 0px;
    background-color: #000000;
}

.topbar > img {
    max-width: 100%;
    height: auto;
    display: block;
}
.topbar {
    background-color: #000000;
    margin: 0px;
    border-top: 0.2rem solid #290029;
}

.navbar{
    background-color: #91aff0;
    margin: 0px;
    border-top: 0.2rem solid #290029;
    border-bottom: 0.2rem solid #290029;
}
.menu{
    background-color: #91aff0;
    margin: 0px;
    border-top: 0.2rem solid #290029;
    border-bottom: 0.2rem solid #290029;
    display: none;
}

a#menu{
    color: royalblue;
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 33%;
    text-align: center;
    font-family: SFCartoonistHand;
}

a#navbar{
    color: royalblue;
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 33%;
    text-align: center;
    font-family: SFCartoonistHand;
}
button#button{
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 32%;
    text-align: center  
}
button#button-darkmode{
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 32%;
    text-align: center;
    background-color: black;
    color: white;
}

.menu-darkmode{
    background-color: #000000;
    margin: 0px;
    border-top: 0.2rem solid #290029;
    border-bottom: 0.2rem solid #290029;
    display: none;
}

.navbar-darkmode{
    background-color: #000000;
    margin: 0px;
    border-top: 0.2rem solid #290029;
    border-bottom: 0.2rem solid #290029;
}

a#menu-darkmode{
    color: #b6ffba;
    font-size: 200%;
    font-family: SFCartoonistHand;
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 33%;
    text-align: center;
}
a#navbar-darkmode{
    color: #b6ffba;
    font-size: 200%;
    font-family: SFCartoonistHand;
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 33%;
    text-align: center;
}

.toptext{
    background-image: url(../Images/transparent-background.png);
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    border-top: 0.6rem solid #0a0809;
}
.toptext-darkmode{
    background-image: url(../Images/background-extender.png);
    background-size: 100%;
    background-repeat: repeat;
    max-width: 100%;
    height: auto;
    border-top: 0.6rem solid #0a0809;
}

img#portrait{
    width: auto;
    max-height: 25rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: gold;
    padding: 0.7rem;
    border: 0.7rem solid #290029;
    border-radius: 0.7rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}
p#paragraph0{
    max-height: 25rem;
    width: auto;
    text-align: center;
    font-size: 300%;
    margin: 0.7rem;
    margin-bottom: 2rem;
    font-family: 'Times New Roman', Times, serif;
}

img#image1{
    float: left;
    max-width: 35%;
    height: auto;
    margin: 2rem;
    border: 0.2rem solid #290029;
    border-radius: 1rem;
}
p#paragraph1{
    float: right;
    font-size: 340%;
    max-width: 50%;
    margin: 1.8rem;
    padding: 0.2rem;
    border: 0.3rem solid #250025;
    border-radius: 1rem;
    background-color: rgba(255,255,255,0.9);
    font-family: SFCartoonistHand;
}

img#image2{
    float: right;
    max-width: 35%;
    height: auto;
    margin: 2rem;
    border: 0.2rem solid #290029;
    border-radius: 1rem;
    clear: right;
}
p#paragraph2{
    float: left;
    font-size: 340%;
    max-width: 50%;
    margin: 1.8rem;
    padding: 0.2rem;
    border: 0.3rem solid #250025;
    border-radius: 1rem;
    background-color: rgba(255,255,255,0.9);
    font-family: SFCartoonistHand;
}

p#paragraph2-darkmode{
    float: left;
    font-size: 340%;
    max-width: 50%;
    margin: 1.8rem;
    padding: 0.2rem;
    border: 0.3rem solid #250025;
    border-radius: 1rem;
    background-color: rgba(0,0,0,0.8);
    color: white;
    font-family: SFCartoonistHand;
}
p#paragraph1-darkmode{
    float: right;
    font-size: 340%;
    max-width: 50%;
    margin: 1.8rem;
    padding: 0.2rem;
    border: 0.3rem solid #250025;
    border-radius: 1rem;
    background-color: rgba(0,0,0,0.8);
    color: white;
    font-family: SFCartoonistHand;
}
p#paragraph0-darkmode{
    max-height: 25rem;
    width: auto;
    text-align: center;
    font-size: 300%;
    margin: 0.7rem;
    color: white;
    margin-bottom: 2rem;
    font-family: 'Times New Roman', Times, serif;
}

.footer{
    position: relative;
    width: 98.3%;
    margin: 0rem;
    border-right: 0.2rem solid #290029;
    border-top: 0.2rem solid #290029;
    background-color: white;
}
.footer > h5{
    color: black;
}

.footer-darkmode{
    position: relative;
    width: 98.3%;
    margin: 0rem;
    border-right: 0.2rem solid #290029;
    border-top: 0.2rem solid #290029;
    background-color: #000000;
}
.footer-darkmode > h5{
    color: white;
}

.main-content{
    background-image: url("../Images/background-light.png");
}

.main-container{
    background-image: url("../Images/background-extender-light.png");
}

.flex-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5rem;
}
.flex-item{
    max-width: 29%;
    height: auto;
    margin: 0.2rem;
    border: 0.2rem lightskyblue solid;
}

p#paragraph3{
    max-height: 25rem;
    width: auto;
    text-align: center;
    font-size: 300%;
    margin: 16rem;
}

a#wikilink-darkmode{
    color: white;
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 100%;
    text-align: center;
}

a#wikilink{
    color: darkblue;
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 100%;
    text-align: center;
}

@media (max-width: 1250px) {
    img#image1{
        float: left;
        max-width: 35%;
        height: auto;
        margin: 2rem;
        border: 0.2rem solid #290029;
        border-radius: 1rem;
    }
    p#paragraph1{
        float: right;
        font-size: 300%;
        max-width: 40%;
        margin: 1.8rem;
        padding: 0.2rem;
        border: 0.3rem solid #250025;
        border-radius: 1rem;
        background-color: rgba(255,255,255,0.9);
        font-family: SFCartoonistHand;
    }
    
    img#image2{
        float: right;
        max-width: 35%;
        height: auto;
        margin: 2rem;
        border: 0.2rem solid #290029;
        border-radius: 1rem;
        clear: right;
    }
    p#paragraph2{
        float: left;
        font-size: 300%;
        max-width: 40%;
        margin: 1.8rem;
        padding: 0.2rem;
        border: 0.3rem solid #250025;
        border-radius: 1rem;
        background-color: rgba(255,255,255,0.9);
        font-family: SFCartoonistHand;
    }
    
    p#paragraph2-darkmode{
        float: left;
        font-size: 300%;
        max-width: 40%;
        margin: 1.8rem;
        padding: 0.2rem;
        border: 0.3rem solid #250025;
        border-radius: 1rem;
        background-color: rgba(0,0,0,0.8);
        color: white;
        font-family: SFCartoonistHand;
    }
    p#paragraph1-darkmode{
        float: right;
        font-size: 300%;
        max-width: 40%;
        margin: 1.8rem;
        padding: 0.2rem;
        border: 0.3rem solid #250025;
        border-radius: 1rem;
        background-color: rgba(0,0,0,0.8);
        color: white;
        font-family: SFCartoonistHand;
    }
}

@media (max-width: 900px) {
    img#image1{
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 90%;
        height: auto;
        border: 0.2rem solid #290029;
        border-radius: 1rem;
    }
    p#paragraph1{
        font-size: 300%;
        max-width: 100%;
        margin: 1.8rem;
        padding: 0.2rem;
        border: 0.3rem solid #250025;
        border-radius: 1rem;
        background-color: rgba(255,255,255,0.9);
        font-family: SFCartoonistHand;
    }
    
    img#image2{
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 90%;
        height: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0.2rem solid #290029;
        border-radius: 1rem;
        clear: right;
    }
    p#paragraph2{
        font-size: 300%;
        max-width: 100%;
        margin: 1.8rem;
        padding: 0.2rem;
        border: 0.3rem solid #250025;
        border-radius: 1rem;
        background-color: rgba(255,255,255,0.9);
        font-family: SFCartoonistHand;
    }
    
    p#paragraph2-darkmode{
        font-size: 300%;
        max-width: 100%;
        margin: 1.8rem;
        padding: 0.2rem;
        border: 0.3rem solid #250025;
        border-radius: 1rem;
        background-color: rgba(0,0,0,0.8);
        color: white;
        font-family: SFCartoonistHand;
    }
    p#paragraph1-darkmode{

        font-size: 300%;
        max-width: 100%;
        margin: 1.8rem;
        padding: 0.2rem;
        border: 0.3rem solid #250025;
        border-radius: 1rem;
        background-color: rgba(0,0,0,0.8);
        color: white;
        font-family: SFCartoonistHand;
    }
}